* {
  margin: 0;
  padding: 0;
}

/* dark-mode */
html[theme="dark-mode"] {
  filter: invert(100%) hue-rotate(180deg);
  transition: 0.4s;
}
html[theme=""] {
  transition: 0.4s;
}
/* prevent dark-mode */
[theme="dark-mode"] #reyang {
  filter: invert(100%) hue-rotate(180deg);
  transition: 0.4s;
}
[theme=""] #reyang {
  transition: 0.4s;
}
[theme="dark-mode"] #project .slider-wrap .list {
  filter: invert(100%) hue-rotate(180deg);
  transition: 0.4s;
}
[theme=""] #project .slider-wrap .list {
  transition: 0.4s;
}
[theme="dark-mode"] #activity img:not(.cover) {
  filter: invert(100%) hue-rotate(180deg);
  transition: 0.4s;
}
[theme=""] #activity img:not(.cover) {
  transition: 0.4s;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;

  font-family: "Song Myung", serif;
}

/* font setting */
.font-batang {
  font-family: "Gowun Batang", serif;
}
.font-song {
  font-family: "Song Myung", serif;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

.continer-wrap {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;
}
.container.has-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}
.title {
  width: 80%;
  text-align: center;

  font-weight: 700;
  font-size: 400%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);

  transition: 0.2s;
}
.title:hover {
  font-size: 500%;
}
.content {
  width: 80%;
  height: 60%;
}
.line {
  border: black solid 2px;
}

/* Intro */
#intro {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 150%;
  text-align: center;
  color: white;
  background-color: black;
}
#intro .intro-desc > div:nth-child(1) {
  opacity: 0.7;
  transition: 0.2s;
}
#intro .intro-desc > div:nth-child(1):hover {
  opacity: 1;
  font-size: 120%;
}
#intro .intro-desc > div:nth-child(2) {
  margin-top: 4%;
  padding-bottom: 8%;
  font-size: 200%;
}
#intro .intro-desc :nth-child(2) > span {
  font-size: 180%;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  transition: 0.2s;
}
#intro .intro-desc :nth-child(2) > span:hover {
  font-size: 220%;
}

/* About */
#about {
  color: black;
  background-color: white;
}
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 200px;
  margin-right: 10%;
  border-radius: 16px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
#about .picture > img {
  width: 100%;
  border-radius: 16px;
  z-index: 1;
}
#about .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 120%;
  height: 60%;

  transition: 0.2s;
}
#about .desc:hover {
  font-size: 140%;
}
#about .desc > div {
  display: flex;
  align-items: center;
}
#about .desc .name {
  font-size: 180%;
}
#about .desc .stu-council {
  font-size: 90%;
}
#about .desc .email {
  margin-top: 4%;
}
#about .desc img {
  width: 28px;
  margin-right: 8px;
}

/* Skill */
#skill {
  color: black;
  background-color: white;
}
#skill .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4%;

  /* .btn을 위한 위치 */
  position: relative;
}
#skill .skills-wrap {
  position: relative;
  overflow: hidden;

  margin: auto 4%;
  font-size: 140%;
  width: 60%;
  height: 10%;

  position: relative;
}
#skill .skills-wrap span,
label {
  cursor: pointer;
  z-index: 2;
  opacity: 0.5;
  transition: 0.2s;
}
#skill .skills-wrap span:hover,
label:hover {
  opacity: 1;
  font-size: 120%;
}
#skill .skills-wrap .list {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;

  /* js 제어 */
  bottom: 0;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}
#skill .skills-wrap .slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 100%;
}
#skill .slider-wrap {
  position: relative;
  overflow: hidden;

  border: solid black 2px;
  border-radius: 16px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2);

  width: 80%;
  height: 80%;
}
#skill .slider-wrap .list {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;

  /* js 제어 */
  bottom: 0;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
#skill ul li {
  float: left;
  list-style: none;

  width: 100%;
  height: 100%;
}
#skill ul li > div {
  width: 100%;
  height: 100%;
}
/* slider - 1 - html, css, js */
#skill #first-skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  transition: 0.2s;
}
#skill #first-skill > {
  transition: 0.2s;
}
#skill #first-skill > div {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid rgba(0, 0, 0, 0.2) 2px;
  border-radius: 4px;

  transition: 0.4s;
}
.switch input {
  display: none;
}
#skill #first-skill .header {
  width: 80%;
  height: 15%;
  margin-top: 4%;
}
#skill #first-skill .nav {
  width: 20%;
  height: 30%;
  margin-left: 4%;
}
#skill #first-skill .article {
  width: 54%;
  height: 30%;
  margin-right: 4%;
}
#skill #first-skill .footer {
  width: 80%;
  height: 15%;
  margin-bottom: 4%;
}
#skill #first-skill .nav:hover {
  width: 30%;
  height: 40%;
}
#skill #first-skill .article:hover {
  width: 60%;
  height: 40%;
}
#skill #first-skill .footer:hover {
  width: 90%;
  height: 20%;
}
#skill #first-skill .header:hover {
  width: 90%;
  height: 20%;
}

/* Project */
#project {
  color: black;
  background-color: white;
}
#project .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4%;

  /* .btn을 위한 위치 */
  position: relative;
}
/* project - btn */
#project .btn {
  position: absolute;
  width: 30px;
  height: auto;

  top: 60%;
  margin-top: -15px;
  line-height: 57px;

  cursor: pointer;
  z-index: 2;
  opacity: 0.2;
  transition: 0.2s;

  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
#project .btn:hover {
  opacity: 0.8;
  width: 36px;
  line-height: 74px;
}
#project .btn.next {
  right: 15px;
  color: white;
}
#project .btn.prev {
  left: 15px;
  color: white;
}
#project .projects-wrap {
  text-align: center;

  position: relative;
  overflow: hidden;

  margin: auto 4%;
  font-size: 140%;
  width: 80%;
  height: 10%;
}
#project .projects-wrap span {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 2;
  opacity: 0.5;
  transition: 0.2s;
}
#project .projects-wrap span:hover {
  opacity: 1;
  font-size: 120%;
}
#project .projects-wrap span > img {
  width: 24px;
  height: auto;

  margin: auto 12px;
}
#project .projects-wrap .list {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;

  /* js 제어 */
  bottom: 0;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}
#project .projects-wrap .slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 100%;
}
#project .slider-wrap {
  position: relative;
  overflow: hidden;

  border: solid black 2px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2);

  width: 80%;
  height: 80%;
}
#project .slider-wrap video {
  width: 100%;
  height: 100%;
}
#project .slider-wrap .list {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;

  /* js 제어 */
  bottom: 0;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
#project ul li {
  float: left;
  list-style: none;

  width: 100%;
  height: 100%;
}
#project ul li > div {
  border-radius: 8px;
  /*border: solid black 2px;*/

  width: 100%;
  height: 100%;
}
/* slider - 1 - html, css, js */
#project #first-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  transition: 0.2s;
}
#project #first-project > {
  transition: 0.2s;
}
#project #first-project > div {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid rgba(0, 0, 0, 0.2) 2px;
  border-radius: 4px;

  transition: 0.4s;
}

/* Activity */
#activity {
  color: black;
  background-color: white;
}
#activity .title {
  padding-bottom: 12px;
}
#activity .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#activity .content .test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 25%;
  height: 70%;

  font-size: 140%;
  opacity: 0.7;

  transition: 0.4s;
}
#activity .content .test:hover {
  width: 30%;
  height: 100%;
  opacity: 1;
  font-size: 160%;
}
#activity .test .name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;

  width: 100%;
  height: 10%;

  transition: 0.2s;
}
#activity .test .name:hover {
  font-size: 120%;
}
#activity .test .slider-wrap:not(.slider.letter) {
  width: 100%;
  height: 90%;
  position: relative;
  /**/
  overflow: hidden;

  border-radius: 12px;

  text-align: center;
  font-size: 140%;
}
#activity .slider-wrap .list {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;

  /* js 제어 */
  bottom: 0;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}
#activity .slider-wrap .slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 100%;
}
#activity .slider-wrap .slider .cover {
  width: 50%;
  height: auto;

  transition: 0.4s;
}
#activity .slider-wrap .slider img {
  width: 100%;
  height: 100%;

  transition: 0.4s;
}
#activity .slider-wrap .slider div:not(.slider.letter >) {
  width: 100%;
  height: 100%;

  transition: 0.4s;
}
#activity .slider-wrap .slider div:not(.slider.letter >):hover {
  width: 300px;
  height: auto;

  position: absolute;

  transition: 0.4s;
}
#activity .slider-wrap .slider.letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 60%;

  transition: 0.4s;
}
#activity .slider-wrap .slider.letter:hover {
  justify-content: space-evenly;

  transition: 0.4s;
}
/* Contact */
#end {
  color: white;
  background-color: black;
}
#end .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#end span {
  font-size: 180%;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  transition: 0.2s;
}
#intro span:hover {
  font-size: 220%;
}
